.env
config/**.development.json
config/settings.development.json

.DS_Store
app/.reports
**/.reports/*.*
passwords.txt
provisionning/.env
provisionning/mails.csv
provisionning/structures.csv
provisionning/users.csv
