{
  "public": {
    "appName": "LaBoîte",
    "appDescription": "Sac à dos numérique de l’agent public",
    "offlinePage": false,
    "keycloakUrl": "",
    "keycloakRealm": "",
    "theme": "laboite",
    "keycloackPopupStyle": false,
    "keycloackPopupStyleIframe": false,
    "loginWithTokenUrls": "http://localhost",
    "disabledFeatures": {
      "blog": false,
      "notificationsTab": false,
      "groups": false,
      "analytics": false,
      "introductionTab": false,
      "introductionTabStructuresInfos": true,
      "menuAdminDefaultSpaces": true,  // THIS PARAMS IS SET FOR HIDDEN DEFAULTSPACE FUNCTIONNALITY WHICH DOESN'T WORK
      "mediaStorageMenu": false,
      "bookmarksFromClipboard": false
    },
    "features": ["franceTransfert"],
    "chatbotUrl": "https://chat.rizomo.numerique.gouv.fr/",
    "ui": {
      "defaultGridViewMode": "compact",
      "isBusinessRegroupingMode": false,
      "feedbackLink": ""
    },
    "matomo": {
      "siteId": 1,
      "urlBase": "https://URL.fr"
    },
    "onBoarding": {
      "enabled": true,
      "appDesignation": "Laboîte"
    },
    "countly": {
      "app_key": "lol",
      "url": "https://countly.url.fr",
      "consent": true,
    },
    "laboiteBlogURL": "",
    "enableBBB": false,
    "BBBUrl": "",
    "minioPort": null,
    "minioEndPoint": "",
    "minioBucket": "",
    "imageFilesTypes": ["svg", "png", "jpg", "gif", "jpeg"],
    "audioFilesTypes": ["wav", "mp3", "ogg"],
    "videoFilesTypes": ["mp4", "webm", "avi", "wmv"],
    "textFilesTypes": ["pdf", "odt", "txt", "docx"],
    "otherFilesTypes": ["csv"],
    "minioFileSize": 500000,
    "minioStorageFilesSize": 3000000,
    "maxMinioDiskPerUser": 1000000,
    "analyticsExpirationInDays": 24,
    "NotificationsExpireDays": {
      "setRole": null,
      "unsetRole": null,
      "request": null,
      "group": null,
      "default": null
    },
    "hideGroupPlugins": false,
    "groupPlugins": {
      "rocketChat": {
        "enable": false,
        "URL": "",
        "groupURL": "[URL]/group/[GROUPSLUG]",
        "enableChangeName": true
      },
      "nextcloud": {
        "enable": false,
        "URL": "",
        "groupURL": "[NCLOCATOR]/apps/files/?dir=/[NCSHARENAME]",
        "enableChangeName": false
      }
    },
    "services":{
      "agendaUrl": "",
      "sondagesUrl": "",
      "mezigUrl": "",
      "laboiteBlogURL": "",
      "questionnaireURL": ""
    }
  },
  "franceTransfert": {
    "apiKey": "",
    "endpoint": ""
  },
  "keycloak": {
    "pubkey": "",
    "client": "sso",
    "adminEmails": [],
    "adminUser": "",
    "adminPassword": ""
  },
  "nextcloud": {
    "nextcloudUser": "",
    "nextcloudPassword": "",
    "circlesUser": "",
    "circlesPassword": "",
    "nextcloudQuota": "1073741824",
    "nextcloudApiKeys": [],
    "sessionTokenKey": "",
    "sessionTokenAppName": "apps.education.fr"  },
  "rocketChat": {
    "rocketChatUser": "",
    "rocketChatPassword": ""
  },
  "smtp":{
    "url": "smtps://USERNAME:PASSWORD@HOST:PORT",
    "fromEmail": "",
    "toEmail": ""
  },
  "private": {
    "autoAttachNewUserToStructures": false,
    "loginExpirationInDays": 1,
    "fillWithFakeData": false,
    "minioAccess": "",
    "minioSecret": "",
    "apiKeys": [
      ""
    ],
    "createUserApiKeys": [],
    "createUserTokenApiKeys": [],
    "BBBSecret": "",
    "whiteDomains": [
      "^ac-[a-z-]*\\.fr",
      "^[a-z-]*\\.gouv.fr"
    ],
    "cspFrameAncestors": ["'self'"],
    "checkKeyCloakWhiteListDomain": false
  }
}
